<nav class="navbar navbar-expand-lg" style="font-family: 'Salsa', cursive;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="router-link-active"  style="font-size: 3rem;color: antiquewhite;border-radius: 10px;padding: 15px;font-weight: 700;">OVER-TECH</a>
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0" style="width: 100%; display: flex;justify-content: space-evenly; font-size: 1.5rem !important;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/home" style="color: white;padding: 15px;margin-left: 5px;font-size: 1.5rem !important;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/skills" style="color: white;padding: 15px;margin-left: 5px;font-size: 1.5rem !important;">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/progects" style="color: white;padding: 15px;margin-left: 5px;font-size: 1.5rem !important;">Progects</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/contactMe" style="color: white;padding: 15px;margin-left: 5px;">Contact Me</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- <br> -->
<div class="allProgects">



<div class=" container wrapper">
  <div class="row container">
    <div class="card mt-5 col-s-12 col-md-6 col-lg-4" style="margin: auto;">
        <img src="assets/imgs/Hand coding-pana.png" style="width: 100%;"/>


      <div class="info">
        <h1 class="text-warning">Alraed Company </h1>
        <p>A website for a software company. The website was designed using WordPress technology so that the design is fully stuck in terms of the front end and also the back end.</p>
        <a class="btn btn-primary p-3" target="_blank" href="https://abdo-ahmad23.github.io/HAMBURER/">Go To Website</a>
      </div>
    </div>
    <div class="card mt-5 col-s-12 col-md-6 col-lg-4" style="margin: auto;">
        <img src="https://abdo-ahmad23.github.io/HAMBURER/assets/imgs/burger-1.png" style="width: 100%;"/>


      <div class="info">
        <h1 class="text-warning">HAMBURER</h1>
        <p>A website is a simulation of a template for a food brand</p>
        <a class="btn btn-primary p-3" target="_blank" href="https://abdo-ahmad23.github.io/HAMBURER/">Go To Website</a>
      </div>
    </div>
    <div class="card mt-5 col-s-12 col-md-6 col-lg-4" style="margin: auto;">
        <img src="https://abdo-ahmad23.github.io/Smart-Gate/assets/imgs/large-version.png" style="width: 100%;"/>


      <div class="info">
        <h1 class="text-warning">Smart Gate</h1>
        <p>Simulation template expresses a platform for providing various services in education, industry, agriculture, and so on</p>
        <a class="btn btn-primary p-3" target="_blank" href="https://abdo-ahmad23.github.io/Smart-Gate/">Go To Website</a>
      </div>
    </div>
    <div class="card mt-5 col-s-12 col-md-6 col-lg-4" style="margin: auto;">
        <img src="assets/imgs/background2.jpeg" style="width: 100%;"/>


      <div class="info">
        <h1 class="text-warning">Portfolio</h1>
        <p>A personal website, on which I display my projects, professional skills, etc</p>
        <a class="btn btn-primary p-3" target="_blank" href="https://abdo-ahmad23.github.io/portfolio-me/">Go To Website</a>
      </div>
    </div>
    <div class="card mt-5 col-s-12 col-md-6 col-lg-4" style="margin: auto;">
        <img src="https://abdo-ahmad23.github.io/CORONA-VIRUS/assets/imgs/banner2.png" style="width: 100%;"/>


      <div class="info">
        <h1 class="text-warning">Awareness website</h1>
        <p>Creating an awareness website about the coronavirus is a great initiative to provide valuable information and resources to the public.</p>
        <a class="btn btn-primary p-3" target="_blank" href="https://abdo-ahmad23.github.io/CORONA-VIRUS/">Go To Website</a>
      </div>
    </div>
    <div class="card mt-5 col-s-12 col-md-6 col-lg-4" style="margin: auto;">
        <img src="https://abdo-ahmad23.github.io/kider-progect/assets/imgs/carousel-2.jpg" style="width: 100%;"/>


      <div class="info">
        <h1 class="text-warning">Kider</h1>
        <p>A simulation of a website for a nursery for children to teach them and so on...</p>
        <a class="btn btn-primary p-3" target="_blank" href="https://abdo-ahmad23.github.io/kider-progect/">Go To Website</a>
      </div>
    </div>

    <div class="card mt-5 col-s-12 col-md-6 col-lg-4" style="margin: auto;">
        <img src="https://abdo-ahmad23.github.io/pukka/images/about-img5.jpg" style="width: 100%;"/>


      <div class="info">
        <h1 class="text-warning">Pukka</h1>
        <p> A website for a clothing brand serves as an online platform to showcase and sell its products while conveying the brand's identity and values.</p>
        <a class="btn btn-primary p-3" target="_blank" href="https://abdo-ahmad23.github.io/pukka/">Go To Website</a>
      </div>
    </div>
  </div>
<div class="container">
  <a href="https://github.com/Abdo-Ahmad23?tab=repositories" class="btn btn-warning m-5 p-4 fs-1 text-white" style="display: inline-block; width: 100%;">Show More</a>
</div>
</div>
</div>
<app-footer></app-footer>
