<nav class="navbar navbar-expand-lg" style="font-family: 'Salsa', cursive;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="router-link-active"  style="font-size: 3rem;color: antiquewhite;border-radius: 10px;padding: 15px;font-weight: 700;">OVER-TECH</a>
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0" style="width: 100%; display: flex;justify-content: space-evenly; font-size: 1.5rem;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/home" style="color: white;padding: 15px;margin-left: 5px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/skills" style="color: white;padding: 15px;margin-left: 5px;">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/progects" style="color: white;padding: 15px;margin-left: 5px;">Progects</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="/contactMe" style="color: white;padding: 15px;margin-left: 5px;">Contact Me</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="container">

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div  class="row text-white container">
  <div class="col-s-12 col-md-6  p-5 mt-5">
  <h1 class="text-center">I'm <span class="text-warning"><q>Abdurrahman</q></span></h1>
  <h3 class="mt-5  text-center"><q>Front-End Angular Developer</q> </h3>
  </div>
  <div  class="col-s-12 col-md-6 mt-5" style="display: flex;justify-content: center;">
    <img src="assets/imgs/progT3.png" alt="" width="60%">
  </div>
  <div class="col-10 p-5 ms-5 container">
    <a class="btn btn-warning" target="_blank" href="https://drive.google.com/file/d/11HVzeqjT9DkiUgtmIQWyfM1zEGEIezmL/view?usp=drive_link" download>
      Download CV
    </a>
  </div>
</div>
</div>
<app-footer></app-footer>


